/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}
/* Variables*/

:root{
  font-size: 62.5%; /* 1 rem = 10px, to usando rem por questões de acessibilidade*/

  --red-text: hsla(0, 65%, 47%, 0.5);
  --button-background: hsla(0, 94%, 49%, 1);
  --button-text: hsla(0, 0%, 100%, 1);
  --light-black-text: hsla(0, 0%, 0%, 0.5);
  --border-text: hsla(0, 0%, 0%, 1);
  --product-description: hsla(0, 0%, 0%, 0.61);
  --product-price: hsla(0, 0%, 0%, 0.74);
  --product-payment: hsla(0, 0%, 0%, 0.58);
  --divisor: hsla(0, 6%, 59%, 0.73);
  --grey-back: hsla(0, 0%, 60%, 1);
  --shadow: hsla(0, 0%, 90%, 1);
  --header-shadow: rgba(0, 0, 0, 0.25);


  --nav-height: 6rem;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Aqui está a formatação base*/

.content{
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.5rem;

  
}

body{
  font-size: 1.6rem;

  overflow: overlay;
}


main{
  margin-top: var(--nav-height);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*---BASE SECTIONS---*/

h2{
  font-family: 'Kanit';
  font-size: 2rem;

  border-bottom: 1px solid var(--shadow);
}

.myCart{
  margin: 1.5rem;
}

table#myProducts{
  font-family: 'Kanit';
  font-size: 1.4rem;
  text-align: left;

  width: 100%;

  margin-bottom: 1.5rem;
  
  border-bottom: 1px solid var(--shadow);
}

.tr1 th{
  background-color: var(--shadow);

  padding-left: 0.5rem;
}

.tr2 img{
  max-height: 6rem;
  width: auto;

  padding: 0.5rem;
}

td{
  font-family: 'Kanit';
  font-size: 1rem;

  text-align: left;
}

.tdprod{
  max-width: 20rem;

  display: flex;
  flex-direction: row;
  align-items: center;
}

#qtdInput{
  max-width: 4rem;
  margin-inline: 0.5rem;
}

.tdprice{
  padding-inline: 0.5rem;
}

.shippingBox{
  background-color: var(--button-text);
  
  border-radius: 0.4rem;
}

form.calcshipping{
  display: flex;

  background: var(--button-text);
  border: 1px solid var(--shadow);
  border-radius: 0.5rem;

  padding: 0.5rem;
}

.cepBox{
  display: flex;
  flex-direction: row;

  margin-bottom: 1.5rem;
}

button.searchCep{
  border: 1px solid var(--button-background);
  background-color: var(--button-text);
  border-radius: 0.5rem;

  font-family: 'Kanit';
  color: var(--button-background);

  margin-left: 1.5rem;
  padding-inline: 0.5rem;
}

.addToCart{
  background-color: var(--shadow);
  border-radius: 0.4rem;
}

h3{
  font-family: 'Kanit';
  font-size: 2.4rem;
}

table.add{
  font-family: 'Kanit';
  font-size: 1.2rem;
  color: var(--light-black-text);

  width: 100%;
  text-align: left;
}

.tr3, .tr4, th{
  font-weight: 400;
}

.tr5{
  font-family: 'Kanit';
  font-size: 1.8rem;
  color: var(--border-text);
  font-weight: 600;
}

button.addButton{
  background: var(--button-background);

  border: none;
  border-radius: 1rem;

  width: 15rem;
  height: 4rem;
  

  color: var(--button-text);
  font-family: 'Roboto';
  font-size: 1.6rem;
  font-weight: 700;
  text-align: center;
  filter: drop-shadow(0 0.5rem 0.5rem var(--divisor));
}

h5 a{
  font-family: 'Kanit';
  font-size: 1.6rem;
  color: var(--light-black-text);
  text-decoration: none;
}

/*styles*/

h2{
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

#myProducts{
  padding-bottom: 1.5rem;
  margin-bottom: 1.5rem;
}

.shippingBox{
  padding: 1.5rem;
  margin: 1.5rem;
}

h4{
  padding-bottom: 1.5rem;
}

.addToCart{
  padding: 1.5rem;
  margin-bottom: 1.5rem;
}

table.add{
  padding: 1.5rem;
  margin: 1.5rem;
}

.addProdBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 1.5rem; 
}

.addProdBox h5{
  margin-top: 1.5rem;
}