/* Reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul{
  list-style: none;
}

/* Variables*/

:root{
  font-size: 62.5%; /* 1 rem = 10px, to usando rem por questões de acessibilidade*/

  --red-text: hsla(0, 65%, 47%, 0.5);
  --button-background: hsla(0, 94%, 49%, 1);
  --button-text: hsla(0, 0%, 100%, 1);
  --light-black-text: hsla(0, 0%, 0%, 0.5);
  --border-text: hsla(0, 0%, 0%, 1);
  --product-description: hsla(0, 0%, 0%, 0.61);
  --product-price: hsla(0, 0%, 0%, 0.74);
  --product-payment: hsla(0, 0%, 0%, 0.58);
  --divisor: hsla(0, 6%, 59%, 0.73);
  --grey-back: hsla(0, 0%, 60%, 1);
  --shadow: hsla(0, 0%, 90%, 1);
  --header-shadow: rgba(0, 0, 0, 0.25);


  --nav-height: 6rem;
}

html, body {
  width: 100%;
  height: 100%;
}

/* Aqui está a formatação base*/

.content {
  max-width: 37.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 0.5rem;
}

body{
  font-size: 1.6rem;

  overflow: overlay;
}

/*------- FOOTER --------*/

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 6rem;

  padding: 0.5rem;
  margin: 0 1.5rem;
  margin-top: 4rem;
}

.footer img {
  width: auto;
  max-height: 6rem;

  padding: 0.5rem;
}

p.copyright {
  font-family: 'Roboto';
  font-size: 0.8rem;
  font-weight: 400;

  text-align: justify;
  text-justify: distribute;

  color: var(--product-payment);

  margin-left: 2rem;
}

.socials-footer svg {
  width: auto;
  max-height: 1rem;

  margin: 1rem;
}

.socials-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}