<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>
    <link rel="stylesheet" href="/style/finalizacao.css">
    <link rel="stylesheet" href="style/header.css">
<body>
    <%- include('partials/header') %>
    <div id= 'dados' class="dados">
       <div class="DP"><p>Dados pessoais e de entrega</p></div> 
      
       <div class="JPC">Já possui cadastrado? <button class="indent">Indentifique-se</button></div>
              

    
  </div>  
</body>
</html>