<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>daHouze - A casa da SmartTV</title>

    <link rel="stylesheet" href="style/home.css">

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <main>
      <h5>Bem Vindos a daHouze</h5>
      <h1>A casa da SmartTV</h1>
      <div class="image">
        <img
          src="../public/images/watching tv.jpg"
          alt="Uma pessoa de frente pra TV vendo Netflix"
        />
      </div>
    </main>
    <section class="brand">
      <h3>AS MELHORES MARCAS DO MERCADO PRA VOCÊ!</h3>
      <img
        class="brandlogo"
        src="../public/images/logo/samsung-logo.png"
        alt="Logomarca Samsung"
      />
      <img
        class="brandlogo"
        src="../public/images/logo/panasonic-logo.png"
        alt="Logomarca Panasonic"
      />
      <img
        class="brandlogo"
        src="../public/images/logo/philco-logo.png"
        alt="Logomarca Philco"
      />
      <img
        class="brandlogo"
        src="../public/images/logo/philips-logo.png"
        alt="Logomarca Philips"
      />
    </section>
    <h2>Produtos em destaque</h2>
    <section class="featured">
      <div class="featured1">
        <img
          class="product"
          src="../public/images/products-images/Smart TV Philco 75 ELED Ultra HD 4K.png"
          alt="Smart TV Philco 75 polegadas ELED Ultra HD 4K"
        />
        <h4 class="description">Smart TV Philco 75" ELED Ultra HD 4K</h4>
        <p class="price">R$ 8.807,99</p>
        <p class="payment">até 10x de R$ 880,79</p>
      </div>
      <div class="featured2">
        <img
          class="product"
          src="../public/images/products-images/Smart TV Tela QLED 55 Samsung 55q60a 4K.png"
          alt="Smart TV Tela QLED 55 polegadas Samsung 55q60a 4K"
        />
        <h4 class="description">Smart TV Tela QLED 55" Samsung 55q60a 4K</h4>
        <p class="price">R$ 3.799,99</p>
        <p class="payment">até 10x de R$ 379,99</p>
      </div>
      <div class="featured3">
        <img
          class="product"
          src="../public/images/products-images/Smart TV Philips 55 4K uhd ambilight 3 lados.png"
          alt="Smart TV Philips 55 polegadas 4K uhd ambilight 3 lados"
        />
        <h4 class="description">
          Smart TV Philips 55" 4K uhd ambilight 3 lados
        </h4>
        <p class="price">R$ 3.422,90</p>
        <p class="payment">até 10x de R$ 342,29</p>
      </div>
    </section>
    <button class="allProducts">Todos os nossos produtos</button>

    <h2>Ofertas do dia</h2>
    <section class="offers">
      <div class="sale1">
        <img
          class="product"
          src="../public/images/products-images/Smart Tv 43 UHD Samsung 4k 43AU7700.png"
          alt="Smart Tv 43 polegadas UHD Samsung 4k 43AU7700"
        />
        <h4 class="description">Smart Tv 43" UHD Samsung 4k 43AU7700</h4>
        <p class="price">de R$ 2.499,99 <br />por R$ 2.399,99</p>
        <p class="payment">à Vista</p>
        <button class="buy">Comprar</button>
      </div>
      <div class="sale2">
        <img
          class="product"
          src="../public/images/products-images/Smart TV LED 32” TCL S5200 HD HDR.png"
          alt="Smart TV LED 32 polegadas TCL S5200 HD HDR"
        />
        <h4 class="description">Smart TV LED 32" TCL S5200 HD HDR</h4>
        <p class="price">R$ 1.399,99</p>
        <p class="payment">até 10x de R$ 139,99</p>
        <button class="buy">Comprar</button>
      </div>
      <div class="sale3">
        <img
          class="product"
          src="../public/images/products-images/TV LED 39'' Philco PTV39G50D.png"
          alt="TV LED 39 polegadas Philco PTV39G50D Resolução HD"
        />
        <h4 class="description">TV LED 39" Philco PTV39G50D Resolução HD</h4>
        <p class="price">de R$ 1.299,99 <br />por R$ 1.199,99</p>
        <p class="payment">até 10x de R$ 119,99</p>
        <button class="buy">Comprar</button>
      </div>
    </section>
  </body>
</html>
