<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>

  <link rel="stylesheet" href="/style/home.css" />

  <!-- COLOCAR O HEADER AQUI COMO UMA PARTIALS -->
  <body class="">
    <%- include('partials/header') %>
    <main class="content">
      <section class="intro" id="home">
        <div class="container">
          <div class="text">
            <h5>Bem Vindos a DaHouze</h5>
            <h1>A casa da SmartTV</h1>
          </div>
          <div class="image">
            <img
              src="/images/watchingtv.jpg"
              alt="Uma pessoa de frente pra TV vendo Netflix"
            />
          </div>
        </div>
      </section>
    </main>
    <section class="brand" id="selection">
      <div class="box">
        <div class="brandSelection">
          <h3>AS MELHORES MARCAS DO MERCADO PRA VOCÊ!</h3>
          <div class="brandlogo">
            <ul>
              <li>
                <img
                  src="/images/logo/samsung-logo.png"
                  alt="Logomarca Samsung"
                />
              </li>
              <li>
                <img
                  src="/images/logo/panasonic-logo.png"
                  alt="Logomarca Panasonic"
                />
              </li>
              <li>
                <img
                  src="/images/logo/philco-logo.png"
                  alt="Logomarca Philco"
                />
              </li>
              <li>
                <img
                  src="/images/logo/philips-logo.png"
                  alt="Logomarca Philips"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="featuredProducts" id="highlighted">
      <div class="featuredbox">
        <div class="featured">
          <h2>Produtos em destaque</h2>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV Philco 75 ELED Ultra HD 4K.png"
            alt="Smart TV Philco 75 polegadas ELED Ultra HD 4K"
          />
          <h4 class="description">Smart TV Philco 75" ELED Ultra HD 4K</h4>
          <p class="price">
            <br />
            R$ 8.807,99
          </p>
          <p class="payment">até 10x de R$ 880,79</p>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV Tela QLED 55 Samsung 55q60a 4K.png"
            alt="Smart TV Tela QLED 55 polegadas Samsung 55q60a 4K"
          />
          <h4 class="description">Smart TV Tela QLED 55" Samsung 55q60a 4K</h4>
          <p class="price">
            <br />
            R$ 3.799,99
          </p>
          <p class="payment">até 10x de R$ 379,99</p>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV Philips 55 4K uhd ambilight 3 lados.png"
            alt="Smart TV Philips 55 polegadas 4K uhd ambilight 3 lados"
          />
          <h4 class="description">
            Smart TV Philips 55" 4K uhd ambilight 3 lados
          </h4>
          <p class="price">
            <br />
            R$ 3.422,90
          </p>
          <p class="payment">até 10x de R$ 342,29</p>
        </div>
        <div class="all">
          <button class="allProducts">Todos os nossos produtos</button>
        </div>
      </div>
    </section>
    <section class="offers" id="onSale">
      <div class="saleBox">
        <div class="saleText">
          <h2>Ofertas do dia</h2>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart Tv 43 UHD Samsung 4k 43AU7700.png"
            alt="Smart Tv 43 polegadas UHD Samsung 4k 43AU7700"
          />
          <h4 class="description">Smart Tv 43" UHD Samsung 4k 43AU7700</h4>
          <p class="price">
            <br />
            de R$ 2.499,99 <br />por R$ 2.399,99
          </p>
          <p class="payment">à Vista</p>
          <div class="buyBox">
            <button class="buy">Comprar</button>
          </div>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV LED 32” TCL S5200 HD HDR.png"
            alt="Smart TV LED 32 polegadas TCL S5200 HD HDR"
          />
          <h4 class="description">Smart TV LED 32" TCL S5200 HD HDR</h4>
          <p class="price">
            <br />
            R$ 1.399,99
          </p>
          <p class="payment">até 10x de R$ 139,99</p>
          <div class="buyBox">
            <button class="buy">Comprar</button>
          </div>
        </div>
        <div class="product">
          <img
            src="/images/products-images/TV LED 39'' Philco PTV39G50D.png"
            alt="TV LED 39 polegadas Philco PTV39G50D Resolução HD"
          />
          <h4 class="description">TV LED 39" Philco PTV39G50D Resolução HD</h4>
          <p class="price">
            <br />
            de R$ 1.299,99 <br />por R$ 1.199,99
          </p>
          <p class="payment">até 10x de R$ 119,99</p>
          <div class="buyBox">
            <button class="buy">Comprar</button>
          </div>
        </div>
      </div>
    </section>
    <%- include('partials/footer') %>
  </body>
</html>
