<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DaHouze - A casa da SmartTV</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;500&family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="/style/home.css" />
  </head>
  <!-- COLOCAR O HEADER AQUI COMO UMA PARTIALS -->
  <body>
    <header>
      <nav class="scroll">
        <div class="homepage">
          <a href="#" class="logo">
            <img src="/images/logo/dahouze-logo.png" alt="Logo DaHouze" />
          </a>
        </div>
        <form class="search-container">
          <input
            class="search-container"
            type="search"
            placeholder="Busque por produtos..."
            name="search"
          />
        </form>
        <div class="menu">
          <svg
            width="45"
            height="45"
            viewBox="0 0 45 45"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.60714 39.0714H43.3929C43.6865 39.0714 43.9681 39.1881 44.1757 39.3957C44.3834 39.6033 44.5 39.8849 44.5 40.1786V43.3929C44.5 43.6865 44.3834 43.9681 44.1757 44.1757C43.9681 44.3834 43.6865 44.5 43.3929 44.5H1.60714C1.31351 44.5 1.0319 44.3834 0.824275 44.1757C0.616645 43.9681 0.5 43.6865 0.5 43.3929V40.1786C0.5 39.8849 0.616645 39.6033 0.824275 39.3957C1.0319 39.1881 1.31351 39.0714 1.60714 39.0714ZM1.60714 26.2143H43.3929C43.6865 26.2143 43.9681 26.3309 44.1757 26.5386C44.3834 26.7462 44.5 27.0278 44.5 27.3214V30.5357C44.5 30.8293 44.3834 31.111 44.1757 31.3186C43.9681 31.5262 43.6865 31.6429 43.3929 31.6429H1.60714C1.31351 31.6429 1.0319 31.5262 0.824275 31.3186C0.616645 31.111 0.5 30.8293 0.5 30.5357V27.3214C0.5 27.0278 0.616645 26.7462 0.824275 26.5386C1.0319 26.3309 1.31351 26.2143 1.60714 26.2143ZM1.60714 13.3571H43.3929C43.6865 13.3571 43.9681 13.4738 44.1757 13.6814C44.3834 13.889 44.5 14.1707 44.5 14.4643V17.6786C44.5 17.9722 44.3834 18.2538 44.1757 18.4614C43.9681 18.6691 43.6865 18.7857 43.3929 18.7857H1.60714C1.31351 18.7857 1.0319 18.6691 0.824275 18.4614C0.616645 18.2538 0.5 17.9722 0.5 17.6786V14.4643C0.5 14.1707 0.616645 13.889 0.824275 13.6814C1.0319 13.4738 1.31351 13.3571 1.60714 13.3571ZM1.60714 0.5H43.3929C43.6865 0.5 43.9681 0.616645 44.1757 0.824275C44.3834 1.0319 44.5 1.31351 44.5 1.60714V4.82143C44.5 5.11506 44.3834 5.39667 44.1757 5.6043C43.9681 5.81193 43.6865 5.92857 43.3929 5.92857H1.60714C1.31351 5.92857 1.0319 5.81193 0.824275 5.6043C0.616645 5.39667 0.5 5.11506 0.5 4.82143V1.60714C0.5 1.31351 0.616645 1.0319 0.824275 0.824275C1.0319 0.616645 1.31351 0.5 1.60714 0.5Z"
              fill="black"
              stroke="black"
            />
          </svg>
        </div>
      </nav>
    </header>
    <main>
      <section class="intro" id="home">
        <div class="container">
          <div class="text">
            <h5>Bem Vindos a DaHouze</h5>
            <h1>A casa da SmartTV</h1>
          </div>
          <div class="image">
            <img
              src="/images/watchingtv.jpg"
              alt="Uma pessoa de frente pra TV vendo Netflix"
            />
          </div>
        </div>
      </section>
    </main>
    <section class="brand" id="selection">
      <div class="box">
        <div class="brandSelection">
          <h3>AS MELHORES MARCAS DO MERCADO PRA VOCÊ!</h3>
          <div class="brandlogo">
            <ul>
              <li>
                <img
                  src="/images/logo/samsung-logo.png"
                  alt="Logomarca Samsung"
                />
              </li>
              <li>
                <img
                  src="/images/logo/panasonic-logo.png"
                  alt="Logomarca Panasonic"
                />
              </li>
              <li>
                <img
                  src="/images/logo/philco-logo.png"
                  alt="Logomarca Philco"
                />
              </li>
              <li>
                <img
                  src="/images/logo/philips-logo.png"
                  alt="Logomarca Philips"
                />
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="featuredProducts" id="highlighted">
      <div class="featuredbox">
        <div class="featured">
          <h2>Produtos em destaque</h2>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV Philco 75 ELED Ultra HD 4K.png"
            alt="Smart TV Philco 75 polegadas ELED Ultra HD 4K"
          />
          <h4 class="description">Smart TV Philco 75" ELED Ultra HD 4K</h4>
          <p class="price">
            <br />
            R$ 8.807,99
          </p>
          <p class="payment">até 10x de R$ 880,79</p>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV Tela QLED 55 Samsung 55q60a 4K.png"
            alt="Smart TV Tela QLED 55 polegadas Samsung 55q60a 4K"
          />
          <h4 class="description">Smart TV Tela QLED 55" Samsung 55q60a 4K</h4>
          <p class="price">
            <br />
            R$ 3.799,99
          </p>
          <p class="payment">até 10x de R$ 379,99</p>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV Philips 55 4K uhd ambilight 3 lados.png"
            alt="Smart TV Philips 55 polegadas 4K uhd ambilight 3 lados"
          />
          <h4 class="description">
            Smart TV Philips 55" 4K uhd ambilight 3 lados
          </h4>
          <p class="price">
            <br />
            R$ 3.422,90
          </p>
          <p class="payment">até 10x de R$ 342,29</p>
        </div>
        <div class="all">
          <button class="allProducts">Todos os nossos produtos</button>
        </div>
      </div>
    </section>
    <section class="offers" id="onSale">
      <div class="saleBox">
        <div class="saleText">
          <h2>Ofertas do dia</h2>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart Tv 43 UHD Samsung 4k 43AU7700.png"
            alt="Smart Tv 43 polegadas UHD Samsung 4k 43AU7700"
          />
          <h4 class="description">Smart Tv 43" UHD Samsung 4k 43AU7700</h4>
          <p class="price">
            <br />
            de R$ 2.499,99 <br />por R$ 2.399,99
          </p>
          <p class="payment">à Vista</p>
          <div class="buyBox">
            <button class="buy">Comprar</button>
          </div>
        </div>
        <div class="product">
          <img
            src="/images/products-images/Smart TV LED 32” TCL S5200 HD HDR.png"
            alt="Smart TV LED 32 polegadas TCL S5200 HD HDR"
          />
          <h4 class="description">Smart TV LED 32" TCL S5200 HD HDR</h4>
          <p class="price">
            <br />
            R$ 1.399,99
          </p>
          <p class="payment">até 10x de R$ 139,99</p>
          <div class="buyBox">
            <button class="buy">Comprar</button>
          </div>
        </div>
        <div class="product">
          <img
            src="/images/products-images/TV LED 39'' Philco PTV39G50D.png"
            alt="TV LED 39 polegadas Philco PTV39G50D Resolução HD"
          />
          <h4 class="description">TV LED 39" Philco PTV39G50D Resolução HD</h4>
          <p class="price">
            <br />
            de R$ 1.299,99 <br />por R$ 1.199,99
          </p>
          <p class="payment">até 10x de R$ 119,99</p>
          <div class="buyBox">
            <button class="buy">Comprar</button>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
