<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login/Cadastro</title>
    <link rel="stylesheet" href="style/cadastro.css">
  </head>
<!-- COLOCAR O HEADER AQUI COMO UMA PARTIALS -->
<body>
 <div class="login">
    <div class="JSC">
     <p>Já sou cadastrado</p>
  </div>
  <form action="/" method="POST">
    <div class="email">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email">
    </div>

    <div class="senha">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password">
    </div>
      <div class="checkbox">
        <input type="checkbox">
      </div>
    <div class="checkboxr">
       <p>Relembre-me</p>
    </div>
    
    <div class="entrar">
      <button type="submit">Entrar</button>
    </div>
  </form>
 </div>
   <div class="EMS">
    <a href="Esqueci minha senha?">Esqueci minha senha?</a>
   </div>

 <div class="cadastro">
    <p>Não sou cadastrado</p>
  <form action="/" method="POST">
    </form>
 </div>
    <div class="email2">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email">
    </div>

    <div>
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password">
    </div> 

    <div>
        <label for="password">Confirmar senha:</label>
        <input type="password" id="password" name="password">
    </div>
  
    <button type="submit">Criar conta</button>
  </form>
 </div>
</body>
</html>