<!DOCTYPE html>
<html lang="en">

  <%- include('partials/head') %>
    <link rel="stylesheet" href="style/cadastro.css">
    <link rel="stylesheet" href="style/header.css">
  
<!-- COLOCAR O HEADER AQUI COMO UMA PARTIALS -->
<body>
  <%- include('partials/header') %>
 <div id="loginCadastro" class="loginCadastro"> 
  <div class="login">
    <div class="JSC">
     <p>Já sou cadastrado</p>
  </div>
  <form class="form" action="/" method="POST">
    <div class="email">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email">
    </div>

    <div class="senha">
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password">
    </div>
      <div class="checkbox">
        <input type="checkbox">
      </div>
    <div class="checkboxr">
       <p>Relembre-me</p>
    </div>
    
    <div class="entrar">
      <button type="submit">Entrar</button>
    </div>
  </form>
   <div class="EMS">
    <a href="Esqueci minha senha?">Esqueci minha senha?</a>
   </div>
  </div>
  <div class="cadastro">
 <div class="NSC">

    <p>Não sou cadastrado</p>
  <form class="form" action="/" method="POST">
 </div>
    <div class="email2">
      <label for="email">E-mail:</label>
      <input type="email" id="email" name="email">
    </div>

    <div>
      <label for="password">Senha:</label>
      <input type="password" id="password" name="password">
    </div> 

    <div>
        <label for="password">Confirmar senha:</label>
        <input type="password" id="password" name="password">
    </div>
    <button type="submit">Criar conta</button>
 </div>
 </div>
</div>
</form>
</body>
</html>
