<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>

    <link rel="stylesheet" href="style/product.css" />
    <link rel="stylesheet" href="style/header.css" />
    <link rel="stylesheet" href="style/footer.css" />
  </head>
  <body>
    <%- include('partials/header') %>
    <main class="content">
      <section id="productPanel">
        <section class="prodView">
          <div class="name">
            <h2>
              Smart Tv 43" UHD Samsung 4k 43AU7700 Processador Crystal 4k Tela
              Sem Limites Alexa Built In Controle Único
            </h2>
          </div>
          <div class="imageSlider">
            <img
              src="/images/products-images/Smart Tv 43 UHD Samsung 4k 43AU7700.png"
              alt="Smart Tv 43 polegadas UHD Samsung 4k 43AU7700"
            />
          </div>
        </section>
        <section class="prodBuy">
          <div class="priceOption">
            <h3>R$ 2.399,00</h3>
            <p>à vista ou no cartão de crédito</p>
            <p>
              <img
                src="/images/icons/MasterCard Credit Card.png"
                alt="Ícone de cartão de crédito"
              />
              R$ 2.399,00 em até 10x no cartão
            </p>
          </div>
          <div class="shippingBox">
            <h4>Calcular frete e prazo</h4>
            <form class="calcshipping">
              <input
                class="calcshipping"
                type="search"
                placeholder="Digite o CEP"
                name="search"
              />
              <button type="submit">OK</button>
            </form>
          </div>
          <div class="buyBox">
            <button class="buy">Comprar</button>
          </div>
        </section>
      </section>
      <section id="productTable">
        <div class="tecnical">
          <h5>Ficha Técnica</h5>
        </div>
        <div class="table">
          <table>
            <tr>
              <th>Marca</th>
              <td>xxxxxxxxxxxxxxxxxxxx</td>
            </tr>
            <tr>
              <th>Modelo</th>

              <td>cxxxxxxxxxxxxxxxxxxx</td>
            </tr>
            <tr>
              <th>Descrição</th>
              <td>xxxxxxxxxxxxxxxxxxxx</td>
            </tr>
            <tr>
              <th>Garantia</th>
              <td>xxxxxxxxxxxxxxxxxxxx</td>
            </tr>
            <tr>
              <th>Preço</th>
              <td>xxxxxxxxxxxxxxxxxxxx</td>
            </tr>
            <tr>
              <th>Disponibilidade</th>
              <td>xxxxxxxxxxxxxxxxxxxx</td>
            </tr>
          </table>
        </div>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
